.tln-active, .tln-wrapper, .tln-line {
    margin: 0;
    border: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    list-style: none;
}
.tln-active {
    display: inline-block;
    padding: 10px;
    width: calc(100% - 48px);
    height: 100%;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Roboto Mono", monospace;
    word-break: break-all;
    border: 1px solid #aeaeae;
    background-color: #fff;
    resize: none;
    overflow-wrap: normal;
    overflow-x: auto;
    white-space: pre;
}
.tln-wrapper {
    width: 48px;
    padding: 11px 5px 35px;
    height: 100%;
    word-break: break-all;
    overflow: hidden;
    display: inline-block;
    counter-reset: line;
}
.tln-line {
    width: 100%;
    display: block;
    text-align: right;
    line-height: 1.5;
    font-size: 16px;
    color: #aeaeae;
}
.tln-line::before {
    counter-increment: line;
    content: counter(line);
    font-size: 16px;
    user-select: none;
}